extends layout

block content
  h1 Articles compiler
  p.lead Compiler of the articles history of the reader. 
  hr 
  p It can retrieves articles from Pocket and uses [Mercury Web Parser](https://mercury.postlight.com/web-parser/) to get article content. The articles are stored on a noSQL database (MongoDB) and can be analyzed to extract some usefuls indicators.